Source: tartini
Section: sound
Priority: extra
Maintainer: Jeremy Salwen <jeremysalwen@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev, libfftw3-dev, libqwt5-qt4-dev, libqt4-opengl-dev
Standards-Version: 3.8.4
Homepage: http://miracle.otago.ac.nz/tartini/
Vcs-Git: git://github.com/jeremysalwen/tartini-debian.git
Vcs-Browser: https://github.com/jeremysalwen/tartini-debian

Package: tartini
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtcore4, libqtgui4, libfftw3, libqwt5-qt4 
Description: A real-time music analysis tool
 Tartini is a program designed as a practical music analysis tool for 
 singers and instrumentalists. Just plug in a microphone and instantly 
 your computer will give real-time feedback including: 
 * Accurate pitch contours for visualising intonation, vibrato shape, 
 tuning or just which note is being played
 * Loudness graphs, to help analyse dynamics
 * Harmonic structure of a note describing timbre
