Source: tartini
Section: sound
Priority: extra
Maintainer: Jeremy Salwen <jeremysalwen@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev, libfftw3-dev, libqwt5-qt4-dev, libqt4-opengl-dev, libasound2-dev
Standards-Version: 3.9.0
Homepage: http://miracle.otago.ac.nz/tartini/
Vcs-Git: git://git.debian.org/git/pkg-multimedia/tartini.git
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/tartini.git

Package: tartini
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtcore4, libqtgui4, libfftw3-3, libqwt5-qt4, libasound2
Description: A real-time music analysis tool
 Tartini is a program designed as a practical music analysis tool for 
 singers and instrumentalists. Just plug in a microphone and instantly 
 your computer will give real-time feedback including: 
 * Accurate pitch contours for visualising intonation, vibrato shape, 
 tuning or just which note is being played
 * Loudness graphs, to help analyse dynamics
 * Harmonic structure of a note describing timbre
